@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  position: relative;
}

@layer components {
  .text-family-freeman {
    font-family: "Freeman", sans-serif, serif;
  }
  .linkItem.active {
    color: rgba(109 40 217);
    border-bottom-color: rgba(109 40 217);
    border-bottom-width: 4px;
  }
  .collapse-plus > .collapse-title:after {
    left: 15px !important;
    top: 15px !important;
    right: none;
  }

  .linkVideo > .active {
    border-bottom-color: rgb(22 163 74);
  }
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f4f4f4;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
    transition: all 0.3s;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

  .userCourseListActive button {
    color: rgba(109 40 217);
    border-bottom-color: rgba(109 40 217);
  }
  .progress::-webkit-progress-value {
    background-color: rgba(109 40 217) !important;
  }
}
/* .slick-prev:before,
.slick-next:before {
  display: flex !important;
  font-size: 2.5rem !important ;
  justify-content: center !important;
  align-items: center !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: #222 !important;
  border-radius: 100%;
}

.slick-arrow.slick-prev {
  left: -50px !important;
}

.slick-next,
.slide-prev {
  z-index: 1000 !important;
} */



.slick-slider .slick-list {
  padding: 1rem 1rem !important;
}